<h1>Show Rol</h1>

<ul>

  <li>
    <strong>Nombre:</strong>
    <%= @rol.nombre %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.rol_path(@conn, :edit, @rol) %></span>
<span><%= link "Back", to: Routes.rol_path(@conn, :index) %></span>
