<h1>New Affiliate covenant</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.affiliate_covenant_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.affiliate_covenant_path(@conn, :index) %></span>
