<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :fecha_alta %>
  <%= date_select f, :fecha_alta %>
  <%= error_tag f, :fecha_alta %>

  <%= label f, :fecha_baja %>
  <%= date_select f, :fecha_baja %>
  <%= error_tag f, :fecha_baja %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
